frameworks net45, netstandard2.0
storage none
source https://api.nuget.org/v3/index.json

nuget DotNetEnv
nuget FSharp.Core >= 4.5.0 lowest_matching: true

group tests
  frameworks netcoreapp3.0, net461, net472, net45
  storage none
  source https://api.nuget.org/v3/index.json

  nuget Microsoft.NET.Test.Sdk 15.9.0
  nuget nunit 3.11.0
  nuget NUnit3TestAdapter 3.12.0

group tpsdk
  frameworks netstandard2.0, net45
  storage packages
  source https://api.nuget.org/v3/index.json

  github fsprojects/FSharp.TypeProviders.SDK src/ProvidedTypes.fsi
  github fsprojects/FSharp.TypeProviders.SDK src/ProvidedTypes.fs
  nuget NETStandard.Library.NETFramework