storage: packages
source https://nuget.org/api/v2

frameworks: net46, netstandard2.0

nuget FSharp.Core >= 4.5.0 lowest_matching: true
nuget NETStandard.Library.NETFramework
github fsprojects/FSharp.TypeProviders.SDK src/ProvidedTypes.fsi
github fsprojects/FSharp.TypeProviders.SDK src/ProvidedTypes.fs

group Test
  source https://nuget.org/api/v2
  frameworks: net461, netcoreapp3.1

  nuget NUnit
  nuget NUnit.Console
  nuget NUnit3TestAdapter version_in_path: true
  nuget FSharp.Core