type project
id FSharp.Data.LiteralProviders
files
    bin/Release/net472/FSharp.Data.LiteralProviders.Runtime.* ==> lib/net472
    bin/Release/netstandard2.0/FSharp.Data.LiteralProviders.Runtime.* ==> lib/netstandard2.0
    # bin/Release/typeproviders/fsharp41/netstandard2.0/*.dll ==> typeproviders/fsharp41/netstandard2.0
    # bin/Release/typeproviders/fsharp41/net472/*.dll ==> typeproviders/fsharp41/net45
    bin/Release/typeproviders/fsharp41/netstandard2.0/FSharp.Data.LiteralProviders.DesignTime.dll ==> typeproviders/fsharp41/netstandard2.0
    bin/Release/typeproviders/fsharp41/netstandard2.0/DotEnvFile.dll ==> typeproviders/fsharp41/netstandard2.0
    bin/Release/typeproviders/fsharp41/net472/FSharp.Data.LiteralProviders.DesignTime.dll ==> typeproviders/fsharp41/net472
    bin/Release/typeproviders/fsharp41/net472/DotEnvFile.dll ==> typeproviders/fsharp41/net472
